@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
  padding: 40px 0;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin: 32px 0;
  line-height: 1.5;
}

/* FEATURES */
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */
.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */
.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}

/* 

MODAL

*/

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 65%;
  padding: 32px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: white;
  outline: none;
  position: relative;
}

.modal__wrapper--signup {
  height: 50%;
}

.modal__wrapper--password {
  height: 30%;
}

.modal__close {
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 90%;
}

.modal__close:hover {
  color: #6b757b;
}

.modal__title {
  margin-bottom: 24px;
}

.modal__error {
  color: #e61f1f;
  position: absolute;
  top: 50%;
  font-size: 16px;
}

.modal__error--password {
  top: 23%;
}

.modal__error--login {
  top: 40%;
}

.break__wrapper {
  display: flex;
  align-items: center;
  margin: 24px 0;
  width: 100%;
}

.line {
  width: 80%;
  border-top: 1px solid #c4c4c4;
}

.or {
  font-weight: bold;
  font-size: 14px;
  margin: 0 16px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.modal__input:focus {
  outline-color: #2bd97c;
}

.email__input {
  margin-bottom: 12px;
}

.modal__button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal__button--icon {
  position: absolute;
  left: 1.5px;
  font-size: 36px;
  padding: 4px;
  border-radius: 4px;
}

.google {
  background-color: #fff;
}

.guest__button {
  color: white;
  background-color: #3a579d;
}

.guest__button:hover {
  background-color: #25396b;
}

.google__button {
  background-color: #4285f4;
  color: #fff;
}

.google__button:hover {
  background-color: #3367d6;
}

.login__button {
  margin: 12px 0 24px 0;
  background-color: #2bd97c;
}

.login__button:hover {
  background-color: #20ba68;
}

.modal__link {
  color: #116be9;
  cursor: pointer;
  font-weight: 300;
}

.modal__link:hover {
  color: #124a98;
}

.modal__link--password {
  font-size: 14px;
}

.modal__link--account {
  font-size: 16px;
  background-color: #f1f6f4;
  margin-top: 8px;
  padding: 12px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.modal__link--account:hover {
  background-color: #e1e9e8;
}

/* 

SIDEBAR

*/

.wrapper {
  width: calc(100% - 200px);
  margin-left: 200px;
}

.sidebar {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7faf9;
  position: fixed;
}

.sidebar__img--mask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 16px;
}

.sidebar__img {
  width: 160px;
  height: 40px;
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
}

.sidebar__top,
.sidebar__bottom {
  display: flex;
  flex-direction: column;
}

.sidebar__top {
  margin-top: 40px;
}

.sidebar__link--wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 56px;
  color: #032b41;
  cursor: pointer;
  margin-bottom: 8px;
  position: relative;
}

.sidebar__link--wrapper:hover {
  background-color: #f0efef;
}

.sidebar__link--wrapper:active::before {
  content: "";
  background-color: #20ba68;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
}

.sidebar__link--not-allowed {
  cursor: not-allowed;
}

.sidebar__link--not-allowed:hover {
  background-color: transparent;
}

.sidebar__link--icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.sidebar__wrapper--text {
  font-size: 16px;
}

/* 

SEARCHBAR

*/

.searchbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  height: 80px;
  border-bottom: 1px solid #e1e7ea;
}

.searchbar__wrapper {
  width: 100%;
  max-width: 340px;
  display: flex;
  border: 2px solid #e1e7ea;
  border-radius: 5px;
  justify-content: space-between;
}

.search__input {
  width: 100%;
  padding: 0 16px;
  height: 38px;
  border: none;
  border-right: 2px solid #e1e7ea;
  background-color: #f1f6f4;
}

.search__icon {
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  background-color: #f1f6f4;
}

/* 

FOR-YOU

*/

.for-you__title {
  font-size: 22px;
  margin-bottom: 16px;
  color: #032b41;
}

.selected__book {
  width: calc((100% / 3) * 2);
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 24px;
  background-color: #fbefd6;
  margin-bottom: 24px;
  gap: 24px;
}

.selected__book--subtitle {
  color: #032b41;
  width: 40%;
}

.selected__book--line {
  width: 1px;
  background-color: #bac8ce;
}

.selected__book--description {
  width: 60%;
}

.selected__book--content {
  display: flex;
  gap: 16px;
  width: 60%;
}

.book__image--wrapper {
  height: 172px;
  width: 172px;
}

.book__image--selected {
  height: 140px;
  width: 140px;
}

.book__image {
  width: 100%;
  height: 100%;
}

.selected__book--title {
  color: #032b41;
  font-weight: 600;
  margin-bottom: 8px;
}

.selected__book--author {
  color: #394547;
  margin-bottom: 16px;
  font-size: 14px;
}

.selected__book--duration-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.selected__book--icon {
  width: 40px;
  height: 40px;
}

.selected__book--duration {
  font-size: 14px;
  font-weight: 500;
  color: #032b41;
}

#recommended__books {
  margin-bottom: 32px;
}

.for-you__sub-title {
  font-weight: 300;
  color: #394547;
  margin-bottom: 16px;
  font-size: 16px;
}

.for-you__recommended--books {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scrollbar-width: none;
}

.for-you__recommended--books-link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  text-decoration: none;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.for-you__recommended--books a:hover {
  background-color: #f1f6f4;
}

.recommended__book--title {
  color: #032b41;
  font-weight: 700;
  margin: 8px 0;
}

.recommended__book--author {
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
  font-size: 14px;
}

.recommended__book--sub-title {
  color: #394547;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 14px;
}

.recommended__books--details-wrapper {
  display: flex;
  gap: 8px;
}

.recommended__books--details {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 300;
  font-size: 14px;
  color: #6b757b;
}

.book__pill {
  background-color: #032b41;
  width: fit-content;
  height: 18px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

/* 

BOOK ID

*/

.id__wrapper {
  display: flex;
  gap: 16px;
}

.id__book {
  width: 70%;
}

.id-book__title {
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 32px;
}

.id-book__author {
  color: #032b41;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}

.id-book__subtitle {
  color: #032b41;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
}

.id-book__wrapper {
  border-bottom: 1px solid #e1e7ea;
  border-top: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.id-book__description-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.details__wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
  color: #032b41;
  font-weight: 600;
}

.detail {
  font-size: 14px;
}

.detail__icon {
  width: 20px;
  height: 20px;
}

.button__wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.button__items--wrapper {
  display: flex;
  gap: 12px;
}

.id-book__btn {
  background-color: #032b41;
  padding: 14px 36px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  border-radius: 6px;
}

.id-book__btn:hover {
  opacity: 0.8;
}

.id-book__btn--icon {
  width: 20px;
  height: 20px;
}

.id__book--bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0365f2;
  max-width: 230px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.id__book--bookmark:hover {
  color: #044298;
  cursor: pointer;
}

.bookmark--icon {
  font-size: 26px;
}

.id__book--secondary-title {
  color: #032b41;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.id__book--tags-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.id__book--tag {
  background-color: #f1f6f4;
  color: #032b41;
  cursor: not-allowed;
  padding: 12px 16px;
  border-radius: 4px;
  font-weight: 500;
}

.id__book--para {
  margin-bottom: 16px;
  color: #032b41;
  line-height: 1.5;
}

.id-book__image--wrapper {
  height: 300px;
  width: 300px;
}

/* 

PLAYER ID

*/

.space {
  white-space: pre-line;
}

.id-player__title {
  font-size: 24px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
}

.player__summary--inner-container {
  margin: 0 50px;
}

/* 

AUDIO PLAYER

*/

.player__wrapper {
  width: 100%;
  background-color: #042330;
  height: 80px;
  position: fixed;
  bottom: 0;
  padding: 14px 40px;
  display: flex;
  gap: 33%;
}

.player-book__img--mask {
  width: 50px;
}

.book__info--wrapper {
  display: flex;
  align-items: center;
}

.player-book__details {
  margin-left: 12px;
}

.player__controls {
  display: flex;
}

.player__progress--wrapper {
  display: flex;
}

@media (max-width: 1200px) {
  .selected__book {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
}
